/****************16-1-2018*************/

/*login*/

.login {

    height: 100%;

    position: absolute;

    width: 100%;

}

.logwrapp{

float: left;

    width: 100%;

    height: 100%;

    background-image: url(../images/login-bg.jpg);

    background-size: cover;

    background-position: center;

	border-radius: 3px;

}

.animate.form.login_form {

	border: none;

    padding: 10px 20px;

    box-shadow: none;

    background-color: rgba(255, 255, 255, 0.84);

    border-radius: 6px;

}

.login_wrapper {

    right: 15%;

    top: 23%;

    margin: 0;

    max-width: 350px;

    width: 100%;

    position: absolute;

    float: right;

}

.login_content form input[type="submit"] {

    background-color: #e00000;

    border-color: #e00000;

    border-radius: 45px;

}

.login_content form input[type="submit"]:hover {

    background-color: #2e2e2e;

    border-color: #2e2e2e;

}

.login_content form div a {

    margin: 10px 0px 0 0;

    text-shadow: none;

    color: #2d2d2d;

}

.login-box-body .col-md-4, .login-box-body .col-md-5{

	padding:0;

}

.login-box-body .col-md-5{

	text-align:right;

}

.has-feedback .form-control {

    padding-left: 42.5px;

    padding-right: 15px;

}

.form-control-feedback {

    right: auto;

	    margin-left: 6px;

}

.login_content form input[type=text], .login_content form input[type=email], .login_content form input[type=password] {

    box-shadow: none;

}

.login-logo img {

    max-width: 130px;

}

/*forgot password*/

.login-page{

float: left;

    width: 100%;

    height: 100%;

    background-image: url(../images/login-bg.jpg);

    background-size: cover;

    background-position: center;

	border-radius: 3px;	

}

.login-box {

right: 15%;

    top: 23%;

    margin: 0;

    max-width: 350px;

    width: 100%;

    position: absolute;

    float: right;

    padding: 30px 20px;

    box-shadow: none;

    background-color: rgba(255, 255, 255, 0.84);

    border-radius: 6px;

}

.login-box-body, .register-box-body {

    background: rgba(255, 255, 255, 0);

	    padding: 10px 0px;

}

.login-box .login-logo, .login-box .register-logo {

    margin-bottom: 0;

}

.login-box-msg, .register-box-msg {

    color: #2b2b2b;

    font-size: 16px;

}

.login-box .btn-primary {

    background-color: #e00000;

    border-color: #e00000;

}

.login-box .btn-primary:hover{

	    background-color: #2e2e2e;

    border-color: #2e2e2e;

}

.login-box .form-control-feedback {

    color: #d20609;

}

.loginred{

	color: #2e2e2e;

}

.loginred:hover{

	color: #000;

	text-decoration:underline;

}

/***************inner dashboard*******************/

/*sidebar*/

.left_col {

    background: #2e2e2e;

}

body {

    color: #2e2e2e;

    background: #2e2e2e;

}

.nav.side-menu>li.active>a {

    background: linear-gradient(#2e2e2e,#0c0c0c),#000000;

}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {

    border-right: 5px solid #e20000;

}

.sidebar-footer {

    background: #404040;

}

.sidebar-footer a {

	color: #b3b3b3;

    background: #2e2e2e;

}

.nav-md ul.nav.child_menu li:before {

    background: #ffffff;

}

.nav-md ul.nav.child_menu li:after {

    border-left: 1px solid #ffffff;

}

.nav_title {

    background: #ffffff;

}

.nav_title .site_title{

	text-align: center;

    padding-left: 0;

}

.nav_title .site_title img{

    margin: 0 auto;

    padding-left: 0;

    margin-top: -3px;

}

.nav_title .site_title span{

	display:none;

}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {

    border-right: 5px solid #e00000;

}

.nav-sm .nav_title .site_title img {

    margin-left: 16px;

}

.nav-sm ul.nav.child_menu {

    background: #2e2e2e;

}

.toggle a {

    color: #2e2e2e;

}

.toggle a i {

    font-size: 21px;

}

.profile_info {

    width: 100%;

}

/**/

.btn{

    border-radius: 35px !important;

    text-transform: uppercase;

	font-size: 13px;

}

.btn-danger {

    color: #fff;

    background-color: rgba(224, 0, 0, 0.7215686274509804);

    border-color: rgba(224, 0, 0, 0.7215686274509804);

}

.btn-danger:hover {

    background-color: #e00000;

    border-color: #e00000;

}

.btn-info {

    background-color: #016dd0;

    border-color: #016dd0;

}

/**/



.panel_toolbox {

    text-align: right;

	min-width: 25px;

}

.panel_toolbox>li {

    float: none;

}

.panel_toolbox>li>a {

    color: #ffffff;

}

thead{

	    background-color: #acacac;

color: #2e2e2e;

    text-transform: uppercase;

}

thead th{

	    font-size: 12px;

}

.x_title {

    padding: 8px 10px 6px;

    background-color: #acacac;

color: #2e2e2e;

    text-transform: uppercase;

}

.dashboard_graph .x_title {

    padding: 12px 10px 10px;

}

.dashboard_graph .x_title .col-md-6{

	padding-left:0;

}

#main_content {

    margin-top: 5px;

}

table.dataTable thead .sorting:after {

    opacity: 0.9 !important;

}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {

    opacity: 0.9 !important;

}



.top_nav .dropdown-menu li a {

    padding: 12px 15px;

	color: #2e2e2e;

}

.top_nav .dropdown-menu li a i{

	margin-right:5px;

}

.top_nav .dropdown-menu>.active>a, .top_nav .dropdown-menu>.active>a:focus, .top_nav .dropdown-menu>.active>a:hover {

    color: #fff !important;

    text-decoration: none;

    background-color: #2b2b2b;

    outline: 0;

}

.nav-sm ul.nav.child_menu li a {

    font-size: 13px;

}

.x_panel {

    padding: 15px 15px;

}

.profilepage .form-group .col-md-12{

	padding:0;

}

.profilepage .x_title {

    margin-bottom: 0;

}

.adminsetting .form-group .col-md-12{

	padding:0;

}

.settingpage .form-group .col-md-12{

	padding:0;

}

.membership-modal .form-group .col-md-12{

	padding:0;

}

.memplan .form-group .col-md-12{

	padding:0;

}

/*dashboard*/

.tile_count .tile_stats_count{

    background-color: #fff;

    box-shadow: 0 0 10px rgba(212, 212, 212, 0.73);

    padding: 20px 20px;

    text-align: center;

    margin-bottom: 0;

    margin-left: 10px;

    margin-top: 10px;

    border: 5px solid #acacac;

}

/*promotion*/

.promotion #main_content {

    margin-top: 0px;

}

#main_content li {

    float: left;

    display: inline-block;

    margin-right: 2px;

}

.x_content #main_content {

    margin-top: 0px;

}

.promotion #main_content li, .statistics #main_content li{

    margin-right: 2px;

}

.promotion #main_content li.notselected, .statistics #main_content li.notselected {

    color: #ffffff!important;

    background-color: #acacac!important;

}

.promotion #main_content li.selected, .statistics #main_content li.selected {

    background-color: #cc0008!important;

}

/**/



.dataTables_paginate .pagination>li>a {

    background: #ececec!important;

    border-color: #fff!important;

    color: #2e2e2e;

}

.dataTables_paginate .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {

    color: #ffffff!important;

    background-color: #2e2e2e !important;

}

.main-footer a{

	    color: #2e2e2e;

}

/************************/

.canvaseffect canvas {

  position: relative;

  top: 0;

  bottom: 0;

  width: 100%;

  height: 100%;

  overflow: hidden;

}

/*********************22 march 2018******************/

/*loader*/

.heart-loader{

    width: 100%;

    height: 100%;

    position: fixed;

    left: 0;

    right: 0;

    background-color: rgba(255, 255, 255, 0.88);

    top: 0;

    bottom: 0;

    z-index: 99999;

    text-align: center;

}



/*#heart {

    position: relative;

   width: 100px;

    height: 90px;

    animation: heartbeat 1s infinite;

    margin:0 auto;

	margin-top:20%;
	
	
border: 7px solid #e0e0e0;
  border-radius: 50%;
  border-top: 7px solid #e00000;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;	

}

#heart:before,

#heart:after {

    position: absolute;

    content: "";

    left: 50px;

    top: 0;

    width: 50px;

    height: 80px;

    background: #e00000;

    -moz-border-radius: 50px 50px 0 0;

    border-radius: 50px 50px 0 0;

    -webkit-transform: rotate(-45deg);

       -moz-transform: rotate(-45deg);

        -ms-transform: rotate(-45deg);

         -o-transform: rotate(-45deg);

            transform: rotate(-45deg);

    -webkit-transform-origin: 0 100%;

       -moz-transform-origin: 0 100%;

        -ms-transform-origin: 0 100%;

         -o-transform-origin: 0 100%;

            transform-origin: 0 100%;

}

#heart:after {

    left: 0;

    -webkit-transform: rotate(45deg);

       -moz-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

         -o-transform: rotate(45deg);

            transform: rotate(45deg);

    -webkit-transform-origin: 100% 100%;

       -moz-transform-origin: 100% 100%;

        -ms-transform-origin: 100% 100%;

         -o-transform-origin: 100% 100%;

            transform-origin :100% 100%;

}







@keyframes heartbeat

{

  0%

  {

    transform: scale( .75 );

  }

  20%

  {

    transform: scale( 1 );

  }

  40%

  {

    transform: scale( .75 );

  }

  60%

  {

    transform: scale( 1 );

  }

  80%

  {

    transform: scale( .75 );

  }

  100%

  {

    transform: scale( .75 );

  }

}	*/
/*******************circle loader***********************/
#heart {

    position: relative;

   /* width: 100px;

    height: 90px;

    animation: heartbeat 1s infinite;*/

    margin:0 auto;

	margin-top:20%;
	
	
border: 7px solid #e0e0e0;
  border-radius: 50%;
  border-top: 7px solid #e00000;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;	

}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}